<h2>
  <%= link_to 'Add New', new_post_path, class: 'header-menu' %>
  My Posts
</h2>
<ul>
<% @posts.each do |post|%>
<li>
  <div><%= link_to post.title, post_path(post) %></div>
</li>
<% end %>
</ul>